requests>=2.31.0
beautifulsoup4>=4.12.2
PySide6>=6.5.3
PySide6-Addons>=6.5.3
PySide6-Essentials>=6.5.3
pyppeteer>=1.0.2
qasync>=0.24.0
selenium>=4.18.1
webdriver_manager>=4.0.1
undetected-chromedriver>=3.5.5
pyinstaller>=5.13.0
soupsieve>=2.5
markdownify>=0.11.6
fake-useragent>=1.4.0
cloudscraper>=1.2.71
requests-html>=0.10.0
playwright>=1.41.2
aiohttp>=3.9.3
lxml[html_clean]~=5.1.0
lxml_html_clean~=0.3.1
anyio>=4.2.0
cachetools>=5.3.2
uvloop>=0.19.0; sys_platform != "win32"
# trio>=0.24.0
# trio-asyncio>=0.13.0